
{% extends 'layout.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Strona logowania</h1>
    <p>podaj dane logowania</p>

    <p><strong>Aktywni użytkownicy:</strong></p>
    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
